
@{
    ViewBag.Title = "List";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
@model IEnumerable<ETicModels.Entities.Order>
<h2>Siparişler</h2>
<div class="container-fluid">
    <table border="0" class="table table-hover">
        <thead>
            <tr>
                <th>Müşteri Adı</th>
                <th>Adresi</th>
                <th>Telefon</th>
                <th>Sipariş Tarihi</th>
                <th>İstenen Tarih</th>
                <th colspan="2"></th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.CustomerName</td>
                    <td>@item.CustomerAddress</td>
                    <td>@item.CustomerPhone</td>
                    <td>@item.OrderDate</td>
                    <td>@item.RequiredDate</td>
                    <td>
                        <a href="/Admin/Order/Update/@item.OrderID" class="btn btn-default">Güncelle</a>
                        <a href="/Admin/Order/Delete/@item.OrderID" class="btn btn-default">Sil</a>
                        <a href="/Admin/Order/OrderDetails/@item.OrderID" class="btn btn-default">Detay</a>
                    </td>

                </tr>
            }


        </tbody>

    </table>
</div>

